$primary_color: #4C4DDC;
$secondary_color: #EDEDFC;
$black_color: #010101;
$soft_gray_color: #F9F9F9;
$beige_color: #ECECEC;
$lavender_color: #E4E4FA;
$background_color: #FFFFFF;
$font-family: 'Encode Sans', sans-serif;
$max_width: 55%;