@use "../node_modules/bootstrap/scss/bootstrap" as *;
@use "variables" as *;
@use "tags" as *;
@use "main" as *;

body {
  background-color: $primary_color;
  font-family: "Encode Sans", sans-serif;
  margin: 0;
  padding: 0;
}

#form {
  margin-top: 10vh !important;
  margin-bottom: 10vh !important;
  margin: auto;
  width: 90%;
  max-width: 1500px;
  background-color: $background_color;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 2rem;
  #form_left
  {
    width: 50%;
    display: flex;
    img
    {
        width: 90%;
        margin: auto;
    }
    &::after
    {
        content: "";
        width: 1px;
        height: 100%;
        background-color: rgb(204, 204, 204);
        border-radius: 100%;
        margin-right: 2rem;
        margin-left: 2rem;
    }
  }
  #form_right
  {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  input,
  textarea,
  button {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }

  button {
    background-color: darken($background_color, 10%);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.7s;

    &:hover {
      background-color: darken($background_color, 15%);
    }
  }
}

@media screen and (width < 768px) 
{
    #form_left
    {
        display: none !important;
    }
    #form_right
    {
        width: 100% !important;
        background-color: white;
    }
}