@use "../node_modules/bootstrap/scss/bootstrap" as *;
@use "variables" as *;

*{
    font-family: 'Encode Sans', sans-serif;
}
body
{
    background-color: $background_color;
}
.button_type_1
{
    width: 50%;
    aspect-ratio: 3/1;
    border: none;
    border-radius: 0.85rem;
    font-weight: bold;
    color: white;
    background-color: $primary_color;
}

.button_type_2
{
    width: 50%;
    aspect-ratio: 3/1;
    border: none;
    border-radius: 0.85rem;
    font-weight: bold;
    color: $primary_color;
    background-color: white;
}

.info_paragraph
{
    color: rgb(177, 177, 177);
    font-size: 0.9rem;
}

h3 
{
    font-size: 2.2rem !important;
    font-weight: 600 !important;
}

header 
{
    aspect-ratio: 16/9;
    margin: auto;
    width: 100%;
    max-width: $max_width;
    background-image: url('images/header_building.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 25vw;
    padding: 4rem;
    background-color: $soft_gray_color;

    h1 
    {
      font-weight: bold;
      font-size: clamp(1rem, 4vw, 6rem); /* Responsive font size */
      span 
      {
        color: $primary_color;
      }
    }

    >span 
    {
      max-width: 40%;
      display: block;
      font-size: clamp(0.5rem, 0.5vw, 6rem); /* Responsive font size */
    }

    #buy_sell_rent_buttons
    {
        margin-top: 2rem;
        display: flex;
        width: 60%;
        font-size: clamp(0.5rem, 0.7vw, 6rem); /* Responsive font size */

        .button_type_2
        {
            width: 20%;
            margin: 0.4rem;
            transition: all 0.3s;
            color: black;
        }

        .button_type_2:hover
        {
            color: white;
            background-color: $primary_color;
        }
    }

    #filter_selection
    {
        display: flex;
        justify-content: space-around;
        width: 70%;
        background-color: $background_color;
        padding: 1rem;
        border-radius: 1rem;
        align-items: center;
        select
        {
            width: 28%;
            padding: 1rem;
            border: 0.1px solid rgb(219, 219, 219);
            border-radius: 6px;
        }
        img
        {
            background-color: $primary_color;
            height: 3rem;
            aspect-ratio: 1/1;
            border-radius: 100%;
            padding: 0.6rem;
        }
    }
}

#spacer
{
    display: flex;
    align-items: center;
    color: $background_color;
    font-weight: 500;
    aspect-ratio: 120/7;
    margin: auto;
    width: $max_width;
    background-color: $primary_color;
    overflow: hidden;
    div
    {
        left: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.9vw;
    }
    img
    {
        margin: 0 1.2rem 0 0.6rem;
        height: 0.7vw;
        width: 0.7vw;
    }

    div:first-of-type
    {
        margin-left: -2.5rem;
    }
}

#video_section
{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    background-color: $background_color;
    width: $max_width;
    margin: auto;
    #video_player
    {
        position: relative; 
        display: flex;
        justify-content: space-around;
        img
        {
            border-radius: 1rem;
        }
        #play_button
        {
            width: 3rem;
            position: absolute;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
 
        }
    }
    #text_container
    {
        width: 45%;
    }
    #flexing_stats_container
    {
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        .flexing_stats
        {
            aspect-ratio: 7/4;
            width: 25%;
            display: flex;
            flex-direction: column;
            .value
            {
                font-size: 2.5rem;
                color: $primary_color;
                font-weight: 600;
            }
            .label
            {
                font-size: 0.8rem;
                font-weight: 400;
                color: rgb(167, 167, 167);
            }
        }
    }
}

#in_demand_locations_section
{
    width: $max_width;
    margin: auto;
    background-color: $soft_gray_color;
    padding: 5rem;
    #top_text_container
    {
        margin-bottom: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3
        {
            width: 40%;
        }
        .info_paragraph
        {
            width: 40%;
        }
    }
    #recommended_locations_container{
        height: 30vw;
        display: flex;
        justify-content: space-between;
        .recommended_location
        {
            width: 30%;
            height: 100%;
            >img
            {
                border-radius: 0.5rem 0.5rem 0 0;
            }
            .bottom_part
            {
                border-radius: 0 0 0.5rem 0.5rem;
            }
            .bottom_part, >img
            {
                width: 100%;
            }
            .bottom_part
            {
                background-color: $background_color;
                flex-direction: column;
                align-items: flex-start;
                padding: 1rem;
            }
            .location_name
            {
                justify-content: flex-start;
                width: 100%;
                img
                {
                    margin: 0.5rem;
                }
            }
            div
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                .button_type_1
                {
                    width: 50%;
                    margin: 0.4rem;
                    color: white;
                    transition: all 0.3s;
                    
                }
                .button_type_1:hover
                {
                    background-color: $background_color;
                    color: black;
                }
                .price_value
                {
                    color: $primary_color;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }
    
        }
    }
}