@use "../node_modules/bootstrap/scss/bootstrap" as *;
@use "variables" as *;
@use "tags" as *;

*{font-family: 'Encode Sans', sans-serif;}

.navbar 
{
    width: $max_width;
    background-color: $background_color;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% $padding 1% $padding;
    top: 0;
    position: sticky;
    z-index: 999;
    >img
    {
        width: 15%;
    }
    #links_holder
    {
        display: flex;
        justify-content: space-between;
        width: 35%;
        margin-right: 10%;
        max-width: 40rem;
        section 
        {
            position: relative;
            display: inline-block;
        }

        section .dropdown 
        {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 15vw;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-5px);
            transition: opacity 0.2s ease, transform 0.2s ease;
        }

        section:hover .dropdown 
        {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        section:hover .dropdown
        {
            display: block;
            background-color: white;
            padding: 20% 150% 40% 40%;
            border-radius: 0.5vw;
            a
            {
                font-size: (0.1rem, 0.3vw, 2rem) !important;
                font-weight: 400;
                color: gray;
            }
            a:hover
            {
                color: $primary_color;
            }
        }

        a, span
        {
            color: grey;
            font-size: clamp(0.4rem, 1.1vw, 1.6rem);
            text-decoration: none;
        }
        section
        {
            cursor: pointer;
            img
            {
                width: 1vw;
                margin-left: 2%;
                transition: all 0.3s;
                filter: grayscale(1) brightness(190%);
            }
        }
        section:hover
        {
            img
            {
                transform: rotate(180deg);
                filter: grayscale(0);
            }
        }
        section:hover
        {
            span, a
            {
                color: $primary_color;
            }
        }
        section
        {
            display: flex;
            justify-content: space-around;
        }
    }
    #buttons_holder
    {
        width: 25%;
        display: flex;
        justify-content: space-between;
        #login_button, #signup_button
        {
            width: 49%;
            font-weight: 600;
            transition: all 0.3s;
        }
        #login_button
        {
            background-color: white;
            color: $primary_color;
        }
        #signup_button
        {
            background-color: $primary_color;
            color: white;
        }
        #login_button:hover, #signup_button:hover
        {
            filter: brightness(0.8);
        }
    }
}

header 
{
    padding: $padding;
    margin: auto;
    width: 100%;
    max-width: $max_width;
    background-image: url('images/header_building.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-color: $soft_gray_color;
    background-size: max(30rem, 57%);
    h1 
    {
        font-weight: bold;
        font-size: clamp(2rem, 7vw, 12rem); /* Responsive font size */
        span 
        {
            color: $primary_color;
        }
        img
        {
            width: 7%;
            min-width: 3rem;
            max-height: 7rem;
            max-width: 7rem;
        }
    }
    #header_text_container
    {
        >.info_paragraph
        {
            display: block;
            width: 40%;
        }
    }

    #buy_sell_rent_buttons
    {
        width: 45%;
        margin-top: 4%;
        max-width: 60rem;
        min-width: 15rem;
        margin-bottom: 1%;
        display: flex;
        justify-content: space-between;
        font-size: clamp(0.8rem, 1.2vw, 3rem);
        >.button_base
        {
            width: 32%;
            color: black;
            background-color: white;
            transition: background-color, color 0.3s;
            font-size: clamp(0.8rem, 0.9vw, 1.5rem);
        }
        >.button_base:hover
        {
            color: white;
            background-color: $primary_color;
        }
    }

    #filter_selection
    {
        display: flex;
        justify-content: space-around;
        width: 75%;
        height: 50%;
        min-width: 14rem;
        background-color: $background_color;
        padding: 2%;
        border-radius: 1rem;
        align-items: center;
        font-size: clamp(0.8rem, 1.3vw, 3rem);
        .filter
        {
            section
            {
                display: flex;
                align-items: center;
            }
            height: 100%;
            width: 28%;
            padding: 1%;
            border: 0.1px solid rgb(219, 219, 219);
            border-radius: 0.5rem;
            .filter_label
            {
                color: gray;
                font-weight: 500;
                font-size: clamp(0.5rem, 1.3vw, 2rem);
            }
            .filter_value
            {
                color: black;
                font-weight: 600;
                font-size: clamp(0.3rem, 1.3vw, 2.2rem);
            }
            img
            {
                width: 10%;
            }
        }
        .filter_dropdown
        {
            section
            {
                display: flex;
                justify-content: space-between;
            }
        }
        >img
        {
            background-color: $primary_color;
            width: 5%;
            min-width: 1rem;
            max-width: 5rem;
            aspect-ratio: 1/1;
            border-radius: 100%;
            padding: 1%;
        }
    }
}

#spacer
{
    display: flex;
    align-items: center;
    color: $background_color;
    font-weight: 500;
    aspect-ratio: 120/7;
    width: $max_width;
    background-color: $primary_color;
    overflow: hidden;
    div
    {
        left: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: clamp(0.7rem, 1.4vw, 3rem);
    }
    img
    {
        margin: 0 2vw 0 0.7vw;
        height: 1.7vw;
        max-height: 2rem;
        min-height: 0.6rem;
        aspect-ratio: 1/1;
    }

    div:first-of-type
    {
        margin-left: -2.5rem;
    }
}

#video_section
{
    width: $max_width;
    padding: $padding;
    display: flex;
    justify-content: space-between;
    background-color: $background_color;
    margin: auto;
    align-items: center;
    #video_player
    {
        display: flex;
        justify-content: space-between;
        width: 47%;
        transform: scale(0.9);
        img:first-child
        {
            width: 100%;
            object-fit: cover;
            border-radius: 1.5rem;
        }
        #play_button
        {
            width: 10%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        img:last-child
        {
            position: absolute;
            bottom: 0;
            width: 45%;
            border-radius: 0 0 0 1.5rem;
        }
    }
    #text_container
    {
        width: 47%;
        h3
        {
            margin-bottom: 5%;
        }
    }
    #flexing_stats_container
    {
        margin-top: 10%;
        display: flex;
        justify-content: space-around;
        .flexing_stats
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            .value
            {
                font-size: clamp(1.7rem, 3.1vw, 4rem);
                font-weight: 600;
                color: $primary_color;
            }
            .label
            {
                font-size: clamp(1rem, 1.2vw, 2rem);
                font-weight: 400;
                color: rgb(167, 167, 167);
            }
        }
    }
}

#in_demand_locations_section
{
    width: $max_width;
    margin: auto;
    background-color: $soft_gray_color;
    padding: $padding 0 $padding 0;

    #top_text_container
    {
        padding: 0 $padding 0 $padding;
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3
        {
            width: 40%;
        }
        .info_paragraph
        {
            width: 40%;
        }
    }
    #recommended_locations_container
    {
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: space-between;
        padding: 0 $padding 0 $padding;
        max-width: 120rem;
        .recommended_location
        {
            width: 32%;
            max-width: 30rem;
            overflow: hidden;
            #blue_background 
            {
                position: absolute;
                height: clamp(8rem, 13vw, 14rem);
                width: 100%;
                left: 0;
                background-color: $primary_color;
            }
            >img
            {
                border-radius: 0.5rem 0.5rem 0 0;
            }
            .bottom_part
            {
                border-radius: 0 0 0.5rem 0.5rem;
            }
            .bottom_part, >img
            {
                width: 100%;
            }
            .bottom_part
            {
                z-index: 2;
                background-color: $background_color;
                flex-direction: column;
                align-items: flex-start;
                padding: 1rem;
                height: clamp(7rem, 12vw, 12rem);
                max-height: 40%;
                position: relative;
                >img
                {
                    width: 70%;
                    min-width: 10rem;
                }
            }

            .location_name
            {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                >img
                {
                    margin-right: 0.4rem;
                    width: 10%;
                    max-width: 2rem;
                }
                >h4
                {
                    font-weight: 600;
                    margin: 0;
                    width: 90%;
                    font-size: clamp(1rem, 1.8vw, 2.8rem);
                }
            }
            div
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 45%;
                .button_base
                {
                    height: 90%;
                    width: 50%;
                    color: white;
                    background-color: $primary_color;
                    font-weight: 500;
                    transition: all 0.3s;
                    font-size: clamp(0.7rem, 1.1vw, 1.5rem);
                    min-height: 2rem;
                }
                .button_base:hover
                {
                    background-color: $background_color;
                    color: black;
                }
                .price_value
                {
                    color: $primary_color;
                    font-size: clamp(1rem, 1.8vw, 2rem);
                    font-weight: 600;
                }
                .button_price_holder
                {
                    display: flex;
                    align-items: center;
                    margin-top: 1rem;
                }
            }
        }
    }
}

#your_trusted_partner_section
{
    margin: auto;
    width: $max_width;
    padding: $padding;
    align-items: center;
    .top_text_container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3
        {
            width: 50%;
        }
        span
        {
            width: 40%;
        }
    }
    #boxes_container
    {
        margin-top: 2rem;

    .info_box {
        margin-top: 1rem;
        display: flex;
        background-color: $lavender_color;
        justify-content: space-between;
        align-items: center;
        padding: 3% 2%;
        border-radius: 1rem;
        transition: all 0.5s;
        .text_container 
        {
            margin-left: 2%;
            h6 
            {
                color: $primary_color;
                font-weight: 500;
                font-size: clamp(1rem, 1.8vw, 4rem);
            }
            span 
            {
                color: white;
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                transition: all 0.5s;
                display: block;
                font-weight: 300;
                width: 60%;
                font-size: clamp(0.9rem, 1.1vw, 1.2rem);
            }
        }  
        .icon 
        {
            min-width: 1.2rem;
            transform: scale(1.25);
            color: #4C4DDC;
            --shape-color: white;
        }

        img:last-child 
        {
            margin-left: auto;
            width: clamp(2%, 70%, 2.5rem);
        }

        &:hover 
        {
            cursor: pointer;
            background-color: $primary_color;

            h6 {
                color: white;
            }

            .text_container {
                span 
                {
                    opacity: 1;       // show span
                    max-height: 10rem; // enough height for the content
                }
            }

            .icon rect {
                fill: white;
            }

            img:last-child {
                filter: invert(1);
            }
        }
}   


    }
}

#start_listing_section
{
    width: $max_width;
    margin: auto;
    background-color: $soft_gray_color;
    padding: 4% $padding 4% $padding;
    #banner
    {
        border-radius: 1rem;
        background-image: url('images/start_listing.png');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 5%;
        #banner_inside_container
        {
            width: 52%;
            h2
            {
                color: white;
                font-weight: 500;
                font-size: clamp(0.9rem, 3vw, 2.7rem);
            }
            button
            {
                margin-top: 2rem;
                width: 40%;
                aspect-ratio: 4/1;
                color: $primary_color;
                font-size: clamp(1rem, 1.1vw, 2rem);
            }
        }
    }
}

footer
{
    width: $max_width;
    margin: auto;
    background-color: $primary_color;
    padding: 4% $padding 4% $padding;
    #upper_text_container
    {
        display: flex;
        justify-content: space-between;
        #left_text_container
        {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            color: white;
            font-weight: 300;
            width: 35%;
            font-size: clamp(0.9rem, 1.2vw, 1.4rem);
            #logo
            {
                align-self: flex-start;
                width: 100%;
                margin-bottom: 2%;
            }
        }
        #right_text_container
        {
            display: flex;
            justify-content: space-between;
            width: 35%;
            span
            {
                margin-bottom: 10%;
                color: white;
                font-weight: 500;
                font-size: clamp(1rem, 1.7vw, 1.6rem);
            }
            a
            {
                margin-bottom: 5%;
                text-decoration: none;
                font-weight: 300;
                color: white;
            }
        }
    }
    .links_column
    {
        display: flex;
        flex-direction: column;
        margin-right: 5%;
        #social_media_icons_container
        {
            display: flex;
            justify-content: space-between;
            img
            {
                width: clamp(1.15rem, 1.7vw, 1.75rem);
            }
        }
        >a
        {
            font-size: clamp(0.75rem, 1.3vw, 1.2rem) !important;
        }
    }
    #last_links_column
    {
        margin: 0;
    }
    #lower_text_container
    {
        margin-top: 2rem;
        color: white;
        display: flex;
        font-size: clamp(0.9rem, 1vw, 1.2rem);
        justify-content: space-between;
        a
        {
            text-decoration: none;
            color: white;
        }
    }
    a
    {
        font-size: clamp(0.9rem, 1vw, 1.2rem) !important;
        transition: 0.3s filter;
    }
    a:hover
    {
        filter: brightness(0.8);
    }

}

@media screen and (width < 600px) /* In Demand Locations */
{
    #in_demand_locations_section
    {
        #recommended_locations_container
        {
            flex-direction: column;
            align-items: center;
            .recommended_location
            {
                width: 70%;
                max-width: 17rem;
                margin-bottom: 2rem;
            }
        }
    }
}

@media screen and (width < 500px) /* Banner */
{
    #start_listing_section
    {
        #banner
        {
            background-image: none;
            background-color: $primary_color;
            #banner_inside_container
            {
                width: 100%;
                text-align: center;
                button
                {
                    margin-top: 1rem;
                    width: 65%;
                    border-radius: 3vw;
                }
            }
        }
    }
}

@media screen and (width < 700px) /* Video Section */
{
    #video_section
    {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        #video_player
        {
            width: 100% !important;
            margin-bottom: 2%;
        }
        #text_container
        {
            width: 100% !important;
            text-align: center;
        }
    }
}

@media screen and (width < 700px)  /* Footer */
{
    footer 
    {
        #upper_text_container
        {
            flex-direction: column;
            justify-content: center;
            #left_text_container
            {
                margin: auto;
                margin-bottom: 2rem;
                min-width: 75vw;
                text-align: center;
                >img
                {
                   margin: auto;
                }
            }
            #right_text_container
            {
                width: 100%;
                margin-right: auto;
                margin-left: auto;
            }
        }
        #lower_text_container
        {
            display: flex;
            flex-direction: column;
            text-align: center;
            span:first-child
            {
                margin-bottom: 1rem;
            }
        }
    }
}

@media screen and (width < 700px) /* Header */
{
    header 
    {
        background-image: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        .info_paragraph
        {
            width: 100% !important;
        }
        #header_text_container
        {
            >span
            {
                margin: auto;
                width: 40%;
            }
        }
        #buy_sell_rent_buttons
        {
            display: flex;
            justify-content: space-around;
            margin-bottom: 1rem;
            min-width: 18rem;
            width: 100% !important;
            >.button_base
            {
                width: 30%;
            }
        }
        #filter_selection
        {
            width: 80% !important;
        }
    }
    header
    {
        #filter_selection
        {
            width: 75% !important;
            flex-direction: column;
            .filter
            {
                width: 100%;
                margin: 2%;
                .filter_label
                {
                    font-size: 0.8rem;
                }
                .filter_value
                {
                    font-size: 0.82rem;
                }
                section img
                {
                    width: 5%;
                }
            }
            .filter_dropdown
            {
                justify-content: center;
            }
            >img
            {
                margin-top: 2%;
                width: 15%;
            }
        }
    }
}