@use "../node_modules/bootstrap/scss/bootstrap" as *;
@use "variables" as *;

.navbar 
{
    width: $max_width;
    height: 6rem;
    padding: 1rem;
    background-color: $background_color;
    margin: auto;
    #navbar_menu
    {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        img
        {
            height: 75%;
        }
        #links_holder
        {
            display: flex;
            justify-content: space-between;
            width: 32%;
            color: grey;
            font-size: 0.9rem;
            section
            {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            img
            {
                width: 32%;
            }
            span:hover
            {
                cursor: pointer;
                transition: all 0.3s;
                color: $primary_color;
            }
        }
        #buttons_holder
        {
            width: 32%;
            height: 75%;
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            #login_button, #sign_up_button
            {
                transition: all 0.3s;
            }
            #login_button:hover, #sign_up_button:hover
            {
                filter: brightness(0.75);
            }
        }
    }
}
